.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.dialog-box {
    background: white;
    border-radius: 15px;
    min-width: 800px;
    max-width: 1000px;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.dialog-box-ai{
    background: white;
    border-radius: 15px;
    min-width: 900px;
    max-width: 1500px;
    min-height: 700px;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dialog-header {
    padding: 20px;
    padding-bottom: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-content{
    padding-right: 8px;
    margin-right: 8px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 15px;
    overflow-y: auto;
}

.dialog-content-h{
    display: flex;
    height: 100%;
    gap: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.dialog-content::-webkit-scrollbar {
    width: 8px;
}

.dialog-content::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}

.dialog-content::-webkit-scrollbar-thumb {
    background-color: #2196f3;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.dialog-content::-webkit-scrollbar-thumb:hover {
    background-color: #1d81d1;
}

.dialog-content::-webkit-scrollbar-thumb:active {
    background-color: #1b73ba;
}

.close-button,
.disappear-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.51);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}
.close-button{
    background-color: red;
}
.disappear-button{
    background-color: #f1cd3d;
}

.close-button:hover,
.disappear-button:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.28);
}
.close-button:active,
.disappear-button:active{
    transform: scale(0.99);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.51);
}


textarea {
    width: 100%;
    resize: none;
    max-width: 100%;
}

input, select, textarea {
    font-size: 14px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    width: 100%;
}

select {
    min-width: 120px;
    height: 25px;
}

.form-row input[type="radio"] {
    width: auto;
}

[data-tooltip-left]::after {
    content: attr(data-tooltip-left);
    position: absolute;
    top: 50%;
    right: 120%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 1000;
}

[data-tooltip-left]:hover::after{
    visibility: visible;
    opacity: 1;
}